
$border-rounded-border-radius: 10px;
$global-link-color: #86377b;
$global-primary-background: #86377b;
$global-border-width: 1;
$global-color: #000;


@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

// Scss

@import "fonts.scss";
@import "body.scss";
@import "grid.scss";
@import "button.scss";
@import "input.scss";
@import "progress_bar.scss";

// Sass